# Full requirements for developments
flake8>=3.8.1
flake8-bugbear
flake8-comprehensions
flake8-executable
pylint!=2.13  # https://github.com/PyCQA/pylint/issues/5969
mccabe
pep8-naming
pycodestyle
pyflakes
black
isort
pytype>=2020.6.1; platform_system != "Windows"
types-pkg_resources
mypy>=0.790
pre-commit
fire
pytorch-ignite>=0.4.9
einops
nibabel
pyyaml
jsonschema
gdown>=4.5.4
tensorboard
parameterized
monai>=1.2.0rc7
