setuptools==75.8.0
monai==1.5.0
torch==2.6.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
pandas==2.3.0
seaborn==0.13.2
scikit-learn==1.6.1
progressbar==2.5
pydicom==3.0.1
fire==0.7.0
torchvision==0.21.0
lxml==5.4.0
pillow==11.2.1
